body {
	background-color: #e5e5e5;
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	margin-left: 30px;
	margin-top: 110px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.boldText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #97417C;
}
.bodySmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}
a:link, a:visited { text-decoration:none; color : #97417C;}
a:hover {color : #97417C; text-decoration:underline;}
